.Resume {
    background-color: var(--secondBgColor);
    padding-top: 5%;
}

.Resume-File {
    width: 90%;
    display: block;
    margin: auto;
    height: calc(100vh - 54px);
}

.Resume-Default-Text {
    margin: auto;
    color: var(--secondTextColor);
}

.Resume-Default-Link {
    color: var(--thirdTextColor);
}