/* Variables */
.App {
    --mainBgColor: rgb(225, 70, 49);
    --secondBgColor: rgb(226, 226, 226);
    --mainTextColor: rgb(226, 226, 226);
    --secondTextColor: rgb(63, 63, 63);
    --thirdTextColor: rgb(225, 70, 49);
}